<nav class="navbar">
  <div class="navbar-left">
    <a href="" class="logo"
      ><img
        src="assets/logo.png"
        alt="logoLinkedin"
        width="40"
        class="logo-img"
    /></a>
    <div class="search">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Buscar" />
    </div>
  </div>
  <div class="navbar-center">
    <ul>
      <li class="home">
        <a href="" class="active-link"
          ><mat-icon matBadge="10" matBadgeColor="warn">home</mat-icon
          ><span>Inicio</span></a
        >
      </li>
      <li>
        <a href="#"><mat-icon>group</mat-icon><br />Mi red</a>
      </li>
      <li>
        <a href="#"><mat-icon>work</mat-icon><span>Empleos</span></a>
      </li>
      <li>
        <a href="#"
          ><mat-icon>notifications</mat-icon><span>Notificaciones</span></a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-right">
    <div class="online">
      <img src="assets/user.JPG" alt="user" class="profile-img" />
    </div>
  </div>
  <div class="ads">
    <ul>
      <li class="outline">
        <a
          href="https://www.linkedin.com/premium/survey/?destRedirectURL=https%3A%2F%2Fwww.linkedin.com%2Ffeed%2F&family=JSS&referenceId=hj0xrUgbTea9xrkVXgbr4w%3D%3D&upsellOrderOrigin=premium_nav_upsell_text&utype=job"
          class=""
          ><h6>
            Consigue que te <br />
            contraten más rápido. <br />Prueba Premium <br />
            gratis.
          </h6></a
        >
      </li>
    </ul>
  </div>
</nav>
