<div class="sidebar-profile-box">
  <img src="assets/cover.png" width="100%" />
  <div class="sidebar-profile-info">
    <img src="assets/user.JPG" alt="" />
    <h1>Juliana Quintero Arbeláez</h1>
    <h3>
      Desarrollo FrontEnd | JavaScript | Typescript | React | Angular | HTML |
      CSS | Redux | Licenciada en lenguas extranjeras
    </h3>
    <ul>
      <li>Contactos <span>30</span></li>
      <li>Quién ha visto tu perfil <span>45</span></li>
    </ul>
    <div class="premium">
      <ul>
        <li>
          <h5>Accede a información y herramientas exclusivas</h5>
          <a
            href="https://www.linkedin.com/premium/survey/?destRedirectURL=https%3A%2F%2Fwww.linkedin.com%2Ffeed%2F&family=JSS&referenceId=hj0xrUgbTea9xrkVXgbr4w%3D%3D&upsellOrderOrigin=premium_nav_upsell_text&utype=job"
            ><mat-icon class="square">square</mat-icon>Consigue que te contraten
            más rápido. Prueba Premium gratis.</a
          >
        </li>
        <li>
          <a mat-flat-button href="" class="bookmark"
            ><mat-icon>bookmark</mat-icon>Marcapáginas</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="sidebar-activity">
  <ul>
    <li><a mat-flat-button href="">Grupos</a></li>
    <li><a mat-flat-button href="">Eventos</a></li>
    <li><a mat-flat-button href="">Hashtags seguidos</a></li>
    <li class="ver-mas">
      <a mat-flat-button href="https://www.google.com/" target="_blank"
        >Ver más</a
      >
    </li>
  </ul>
</div>
