<div class="sidebar-news">
  <div class="title">
    <h2>Añadir a tu feed</h2>
    <span><mat-icon>info</mat-icon></span>
  </div>
  <div class="sidebar-profile">
    <div class="sidebar-profile-img">
      <img src="assets/user2.png" alt="" />
    </div>
    <div class="sidebar-profile-info">
      <h3>Lucia Ramírez</h3>
      <p>Talent Acquisition Specialist in GCC Engineering Sector</p>
      <button mat-stroked-button class="button">+ Seguir</button>
    </div>
  </div>
  <div class="sidebar-profile">
    <div class="sidebar-profile-img">
      <img src="assets/logo1.png" alt="" />
    </div>
    <div class="sidebar-profile-info">
      <h3>Paper Co. Inc</h3>
      <p>Empresa de papel | Productos de papel y reciclaje</p>
      <button mat-stroked-button class="button">+ Seguir</button>
    </div>
  </div>
  <div class="sidebar-profile">
    <div class="sidebar-profile-img">
      <img src="assets/logo2.png" alt="" />
    </div>
    <div class="sidebar-profile-info">
      <h3>Free Code Camp</h3>
      <p>E-learning Engineering Sector and Developing</p>
      <button mat-stroked-button class="button">+ Seguir</button>
    </div>
  </div>
  <div class="footer">
    <a href="">Ver más recomendaciones<mat-icon>arrow_right_alt</mat-icon></a>
  </div>
</div>

<div class="sidebar-ad">
  <small>Add<mat-icon> more_horiz</mat-icon></small>
  <p>Juliana, descubre todo tu potencial con Linkedin Premium.</p>
  <div>
    <img src="assets/user.JPG" alt="" />
    <img src="assets/key.png" alt="" />
  </div>
  <div>
    <h5>Ve quién ha visto tu perfil en los últimos 90 días.</h5>
    <button class="button-add" mat-stroked-button color="primary">
      Pruébalo gratis
    </button>
  </div>
</div>
<div class="links">
  <a href="">Acerca de</a>
  <a href="">Accesibilidad</a>
  <a href="">Centro de ayuda</a>
  <a href="">Privacidad y condiciones</a>
  <a href="">Opciones de publicidad</a>
  <a href="">Publicidad</a>
  <a href="">Servicios empresariales</a>
  <a href="">Descargar la aplicación de Linkedin</a>
  <a href="">Más</a>
</div>
<div class="links">
  <img src="assets/logo.png" alt="" width="50" />
  <p>Fake Linkedin. All right reserved.</p>
  <p>By: Juliana Quintero</p>
</div>
